################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PortalStoreAPI/FileContentIndex/a6f28adb-eff3-410b-a9cc-64cf5bc659f4.vsidx
/.vs/PortalStoreAPI/FileContentIndex/bd11d9ec-91e3-4625-9724-b70ba2bde151.vsidx
/.vs/PortalStoreAPI/FileContentIndex/db4cf20d-9893-4e42-82f6-739c3d3c99fd.vsidx
/.vs/PortalStoreAPI/FileContentIndex/f975c714-b4b5-4fe2-accd-e12b61202f0c.vsidx
/.vs/PortalStoreAPI/FileContentIndex/a6f28adb-eff3-410b-a9cc-64cf5bc659f4.vsidx
/.vs/PortalStoreAPI/FileContentIndex/bd11d9ec-91e3-4625-9724-b70ba2bde151.vsidx
/.vs/PortalStoreAPI/FileContentIndex/a6f28adb-eff3-410b-a9cc-64cf5bc659f4.vsidx
/.vs/PortalStoreAPI/FileContentIndex/db4cf20d-9893-4e42-82f6-739c3d3c99fd.vsidx
/.vs/PortalStoreAPI/FileContentIndex/a6f28adb-eff3-410b-a9cc-64cf5bc659f4.vsidx
/.vs/PortalStoreAPI/FileContentIndex/f975c714-b4b5-4fe2-accd-e12b61202f0c.vsidx
